/*view,scroll-view,block,input,button,text,button2,image,video,canvas{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: inherit;
	color: inherit;
	font-style: inherit;
	line-height: inherit;
}

@mixin n-row1 {
	display: flex;
	align-items: center;
}

@mixin n-row2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin n-row3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin n-row4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin n-row5 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin n-col1 {
	display: flex;
	flex-direction: column;
}

@mixin n-col2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@mixin n-col3 {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

@mixin n-col4 {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

@mixin n-col5 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

// 绝对定位布局
@mixin n-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

$c:#fa8c35;






input{
	width: 100%;
	display: block;
	height: 70rpx;
	border: 2rpx solid #ddd;
	border-radius: 6rpx;
	padding: 0 20rpx;
	font-size: 30rpx;
	color: #555;
}
.button{
	height: 70rpx;
	display: block;
	width: 100%;
	@include n-row2;
	border: 0;
	background: $c;
	font-size: 30rpx;
	color: #fff;
	border-radius: 6rpx;
}


.index{
	width: 100%;
	height: 100vh;
	background: #fff;
	@include n-col2;
	align-items: center;
	>.h3{
		margin-bottom: 100rpx;
		font-size: 50rpx;
		color: #000;
	}
	input{
		width: 700rpx;
		margin-bottom: 30rpx;
	}
	.button{
		margin-bottom: 30rpx;
		width: 700rpx;
		&+.button{
			background: #fff;
			border: 2rpx solid $c;
			color: $c;
			
		}
	}
}





